openai-whisper
faster-whisper
openai
tiktoken
plotly
matplotlib
kaleido
rapidocr-onnxruntime
onnxruntime-gpu==1.23.2
paddlepaddle
ultralytics==8.4.50
label-studio
python-dotenv
Pillow
opencv-python
numpy==2.4.4
pandas
opencc-python-reimplemented
nbformat>=4.2.0
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.0+cu128
torchvision==0.22.0+cu128
torchaudio==2.7.0+cu128
ctranslate2==4.7.1
huggingface-hub==1.14.0